.show-image-component {
  width: 100%;
  height: 100%;
  position: relative;

  .keepcenter {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .show-image-image {
      width: fit-content;
      height: 70vh;
      object-fit: contain;
    }
    .cross-icon {
      position: absolute;
      top: 0;
      width: 2rem;
      height: 2rem;

      &:hover {
        cursor: pointer;
        color: #ff0000;
      }
    }
  }

  .details {
    .details-title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    .details-content {
      font-size: 1.25rem;
      margin-bottom: 1rem;

      .details-content-title {
        font-weight: bold;
      }
    }
  }
}
